<div
  *ngIf="question !== undefined"
  id="question-container"
  class="min-h-full w-fit flex flex-col justify-between md:justify-center items-center m-auto"
>
  <span
    [class]="
      'text-sm text-center font-semibold px-3 py-1.5 rounded-full' +
      (level === 'easy'
        ? ' text-white bg-[hsl(160,100%,37%)]'
        : level === 'medium'
          ? ' bg-yellow-600'
          : ' text-white bg-[indianred]')
    "
    >Mode {{ level }}</span
  >
  <span class="text-xs text-center font-semibold mt-8"
    >{{ i + 1 }} / {{ questions.length }}</span
  >
  <h1 class="text-2xl text-center uppercase text-bold mt-4">{{ question }}</h1>
  <span class="text-xs text-center font-semibold mt-8">{{
    questionType === "boolean" ? "" : "Attention, plusieurs reponses possibles"
  }}</span>
  <div
    *ngIf="questionType === 'boolean'"
    id="answers"
    class="radio-toolbar mt-8 md:mt-24"
  >
    <ul class="flex flex-col items-center justify-center">
      <li class="mt-4" *ngFor="let answer of answers; let i = index">
        <input
          type="radio"
          name="answer"
          [value]="answer"
          [id]="'answer-' + i"
          class="input"
          hidden
        />
        <label
          class="label flex font-semibold rounded-full cursor-pointer"
          [for]="'answer-' + i"
        >
          {{ answer }}
        </label>
      </li>
    </ul>
  </div>
  <div
    *ngIf="questionType === 'multiple'"
    id="answers"
    class="radio-toolbar mt-8 md:mt-24"
  >
    <ul class="flex flex-col items-center justify-center">
      <li class="mt-4" *ngFor="let answer of answers; let i = index">
        <input
          type="checkbox"
          name="answer"
          [value]="'answer-' + i"
          [id]="'answer-' + i"
          class="input"
        />
        <label
          class="label flex font-semibold rounded-full cursor-pointer"
          [for]="'answer-' + i"
        >
          {{ answer }}
        </label>
      </li>
    </ul>
  </div>
  <div class="text-center my-24">
    <button class="button-48 mx-auto" (click)="checkAnswer()">
      <span>Valider</span>
    </button>
  </div>
  <div *ngIf="questionStatus" class="question-result">
    <h3 *ngIf="answerStatus" class="text-center mt-4">Bravo ! Bonne réponse</h3>
    <h3 *ngIf="!answerStatus" class="text-center mt-4">
      Dommage ! Mauvaise réponse
    </h3>
    <div class="text-center my-8">
      <button class="button-48 mx-auto" (click)="nextQuestion()">
        <span>Question suivante</span>
      </button>
    </div>
  </div>
</div>
