@if (question) {
<div id="question-container" class="page-container">
  <h3
    [class]="
      'w-fit mx-auto text-sm text-center font-semibold px-3 py-1.5 rounded-full' +
      (level === 'easy'
        ? ' text-white bg-[hsl(160,100%,37%)]'
        : level === 'medium'
        ? ' bg-yellow-600'
        : ' text-white bg-[indianred]')
    "
  >
    Mode
    {{
      level === "easy" ? "facile" : level === "medium" ? "moyen" : "difficile"
    }}
  </h3>
  <div
    [@animateQuestionCard]="i"
    [class]="
      'question relative max-w-3xl my-6 mx-auto md:my-8 p-8 text-white rounded-xl transition-bg duration-300 ' +
      (answerStatus === 'true'
        ? 'bg-[hsl(160,100%,37%)]'
        : answerStatus === 'false'
        ? 'bg-[indianred]'
        : 'bg-[deeppink]')
    "
  >
    <div class="card-after absolute top-0 left-0 bg-[deeppink] rounded-xl"></div>
    <h4 class="text-xs text-center font-semibold uppercase">
      Question {{ i + 1 }} / {{ questions.length }}
    </h4>
    <h1 class="text-xl md:text-2xl text-center uppercase font-bold">
      {{ question }}
    </h1>
    <div id="answers" class="radio-toolbar mt-8">
      <ul class="flex flex-col items-center justify-center">
        @for (answer of answers; track answer; let i = $index) {
        <li class="max-w-full mt-4">
          <input
            type="radio"
            name="answer"
            [value]="answer"
            [id]="'answer-' + i"
            class="input"
            hidden
          />
          <label
            class="label flex font-semibold rounded-full cursor-pointer"
            [for]="'answer-' + i"
          >
            {{ answer }}
          </label>
        </li>
        }
      </ul>
    </div>
  </div>
  @if (!questionStatus) {
  <div class="text-center mb-6">
    <button class="button-48 mx-auto" (click)="checkAnswer()">
      <span>Valider</span>
    </button>
  </div>
  } @if (questionStatus) {
  <div class="question-result mb-6">
    @if (answerStatus === 'true') {
    <h3 class="font-bold text-center">Bravo ! Bonne réponse</h3>
    } @if (answerStatus === 'false') {
    <h3 class="font-bold text-center">Dommage ! Mauvaise réponse</h3>
    }
    <div class="text-center mt-4">
      <button class="button-48 mx-auto" (click)="nextQuestion()">
        <span>Question suivante</span>
      </button>
    </div>
  </div>
  }
</div>
} @else if (!question && score) {
<div id="result-container" class="p-6 sm:px-12 sm:py-8 rounded-xl bg-[black]">
  @if(score < 10) {
  <h1 class="text-3xl text-center uppercase font-bold mt-4">
    Vous avez obtenu la note de {{ score }} / 20.
  </h1>
  <h2 class="text-xl text-center text-white uppercase font-bold mt-4">
    Vous ferez mieux la prochaine fois !
  </h2>
  } @else if (score >= 10 && score < 12) {
  <h1 class="text-3xl text-center uppercase font-bold mt-4">
    Vous avez obtenu la note de {{ score }} / 20. C'est pas mal !
  </h1>
  } @else if (score >= 12 && score < 16) {
  <h1 class="text-3xl text-center uppercase font-bold mt-4">
    Vous avez obtenu la note de {{ score }} / 20. Bravo !
  </h1>
  } @else if (score >= 16 && score < 20) {
  <h1 class="text-3xl text-center uppercase font-bold mt-4">
    Vous avez obtenu la note de {{ score }} / 20. Super !
  </h1>
  } @else {
  <h1 class="text-3xl text-center uppercase font-bold mt-4">
    Vous avez obtenu l'excellente note de {{ score }} / 20. Point faible : trop
    fort !
  </h1>
  }
  <div class="text-center mt-16 mb-8">
    <a routerLink="/categories" class="button-48 mx-auto">
      <span>Voir les categories</span>
    </a>
  </div>
</div>
}
