<div [@fadeSlideInOut] id="categories-container">
  <div class="header">
    <h1 class="text-3xl text-center uppercase font-bold mt-4">Catégories</h1>
    <p class="text-center mt-8 underline decoration-4 decoration-[deeppink]">
      Bienvenue dans notre bibliothèque de quiz ! Ici, vous pouvez parcourir
      toutes les catégories disponibles et choisir celle qui vous inspire.
    </p>
    <p class="text-center mt-2 underline decoration-4 decoration-[deeppink]">
      Cliquez sur une catégorie pour commencer le quiz et découvrir à quel point
      vous êtes incollable !
    </p>
  </div>
  <div id="categories" class="radio-toolbar mt-8 md:mt-16">
    <ul class="flex flex-col md:flex-row flex-wrap items-center justify-center">
      <li
        class="max-w-full mt-2 md:mr-2"
        *ngFor="let category of categories; let i = index"
      >
        <a
          [routerLink]="'/categories/' + category.id + '/' + category.name"
          class="label flex font-semibold rounded-full cursor-pointer"
        >
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
