@if (question !== undefined) {
  <div
    id="question"
    [@fadeIn]="fadeAnimationState"
    >
    <div>
      Question {{ question.question_index + 1 }} sur {{ questions.length }}
    </div>
    <h2 class="question-title">{{ question.title }}</h2>
    <div id="answers">
      @for (answer of question.answers; track answer) {
        <div class="answer">
          <label
            [for]="answerNumber[question.answers.indexOf(answer)]"
            class="btn-stylised"
            >
            {{ answer }}
            <input
              type="radio"
              [id]="answerNumber[question.answers.indexOf(answer)]"
              name="answer"
              [value]="question.answers.indexOf(answer)"
              hidden
              />
          </label>
        </div>
      }
    </div>
    <button
      type="submit"
      id="validate-answer"
      class="btn-stylised"
      (click)="checkAnswer()"
      >
      Valider
    </button>
    @if (question.done === true) {
      <div id="answer-explanation" @fadeSlideInOut>
        @if (answerStatus === true) {
          <h3 id="answer-status" class="correct-answer">
            Bonne réponse
          </h3>
        }
        @if (answerStatus === false) {
          <h3 id="answer-status" class="wrong-answer">
            Mauvaise réponse
          </h3>
        }
        <p>{{ question.right_answer.explanation }}</p>
        <button type="submit" class="btn-stylised" (click)="nextQuestion()">
          Question suivante
        </button>
      </div>
    }
  </div>
} @else {
  <div id="results-container">
    <h2>Note : {{ quizzResult }}/20</h2>
    @if (quizzResult == 20) {
      <div>Parfait ! Vous êtes fin prêt à passer le code :)</div>
    }
    @if (quizzResult >= 15 && quizzResult < 20) {
      <div>Excellent</div>
    }
    @if (quizzResult > 10 && quizzResult < 15) {
      <div>Bon</div>
    }
    @if (quizzResult < 11) {
      <div>Mauvais</div>
    }
    <button
      type="button"
      id="return-catalog-btn"
      class="btn-stylised"
      (click)="reinitialise(true)"
      >
      Retourner au catalogue
    </button>
  </div>
}

