<div class="content" role="main">
  <header class="app-header relative max-w-5xl m-auto">
    @if (!isRoot) {
    <button
      [@fadeSlideInOut]
      (click)="goBack()"
      class="back-btn absolute left-[20px] h-[35px] aspect-square"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
        <path
          fill="#000000"
          d="M73.4 297.4C60.9 309.9 60.9 330.2 73.4 342.7L233.4 502.7C245.9 515.2 266.2 515.2 278.7 502.7C291.2 490.2 291.2 469.9 278.7 457.4L173.3 352L544 352C561.7 352 576 337.7 576 320C576 302.3 561.7 288 544 288L173.3 288L278.7 182.6C291.2 170.1 291.2 149.8 278.7 137.3C266.2 124.8 245.9 124.8 233.4 137.3L73.4 297.3z"
        />
      </svg>
    </button>
    }
    <h2 class="app-icon">Q</h2>
  </header>

  <div class="app-main w-full max-w-5xl m-auto">
    <!-- Loader affiché uniquement quand le service loader est actif -->
    @if (loader.isLoading | async) {
    <div class="loader">
      <h2 class="app-icon">Q</h2>
    </div>
    }

    <!-- Routes -->
    @if (routesVisible && !leaving) {
    <div
      [@fadeSlideInOut]="animationState$ | async"
      class="router-outlet min-h-[90%] w-full"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    }

    <svg
      class="bg-circle"
      viewBox="0 0 100 100"
      style="
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        background-color: white;
        z-index: -1;
      "
    >
      @if(mobile) {
      <line
        x1="0"
        y1="65"
        x2="100"
        y2="65"
        stroke="#edafb8"
        stroke-width="10"
      />
      <line
        x1="0"
        y1="55"
        x2="100"
        y2="55"
        stroke="#f7e1d7"
        stroke-width="10"
      />
      <line
        x1="0"
        y1="45"
        x2="100"
        y2="45"
        stroke="#dedbd2"
        stroke-width="10"
      />
      <line
        x1="0"
        y1="35"
        x2="100"
        y2="35"
        stroke="#b0c4b1"
        stroke-width="10"
      />
      } @else {
      <circle cx="0%" r="50%" stroke="none" stroke-width="2" fill="#edafb8" />
      <circle cx="0%" r="40%" stroke="none" stroke-width="2" fill="#f7e1d7" />
      <circle cx="0%" r="35%" stroke="none" stroke-width="2" fill="#dedbd2" />
      <circle cx="0%" r="30%" stroke="none" stroke-width="2" fill="#b0c4b1" />
      <circle cx="0%" r="25%" stroke="none" stroke-width="2" fill="white" />
      }
    </svg>
  </div>

  <footer class="relative">
    <div
      class="separator absolute w-[50%] top-0 left-0 right-0 m-auto border-4 border-[#343A40]"
    ></div>
    <a
      href="https://www.linkedin.com/in/salaha-sokhona/"
      class="font-bold text-sm"
      >&copy; Salaha Sokhona 2025</a
    >
  </footer>
</div>
