<div class="content" role="main">
  <header class="app-header relative">
    <h2 class="app-icon">Q</h2>
  </header>

  <div class="app-main flex flex-col justify-end max-w-5xl m-auto">
    <!-- Loader affiché uniquement quand le service loader est actif -->
    <ng-container *ngIf="loader.isLoading | async">
      <div class="loader">
        <h2 class="app-icon">Q</h2>
      </div>
    </ng-container>

    <!-- Routes -->
    <div
      *ngIf="routesVisible && !leaving"
      [@fadeSlideInOut]="animationState$ | async"
      class="router-outlet min-h-[90%] w-fit flex flex-col justify-center items-center m-auto"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <svg
      class="bg-circle"
      viewBox="0 0 100 100"
      style="
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        background-color: white;
        z-index: -1;
      "
    >
      <circle cx="0%" r="50%" stroke="none" stroke-width="2" fill="#edafb8" />
      <circle cx="0%" r="40%" stroke="none" stroke-width="2" fill="#f7e1d7" />
      <circle cx="0%" r="35%" stroke="none" stroke-width="2" fill="#dedbd2" />
      <circle cx="0%" r="30%" stroke="none" stroke-width="2" fill="#b0c4b1" />
      <circle cx="0%" r="25%" stroke="none" stroke-width="2" fill="white" />
    </svg>
  </div>

  <footer class="relative">
    <div
      class="separator absolute w-[50%] top-0 left-0 right-0 m-auto border-4 border-[#343A40]"
    ></div>
    <a
      href="https://www.linkedin.com/in/salaha-sokhona/"
      class="font-bold text-sm"
      >&copy; Salaha Sokhona 2025</a
    >
  </footer>
</div>
