<div
  id="category-container"
  class="min-h-full w-full flex flex-col justify-between items-center"
>
  <div class="header">
    <h1 class="text-center mt-4">{{ category }}</h1>
    <p class="text-center mt-8">Sélectionnez un niveau de difficulté</p>
  </div>
  <div id="levels" class="radio-toolbar mt-8">
    <ul class="flex flex-col flex-wrap items-center justify-center">
      <li *ngFor="let level of difficulty" class="mt-2 md:mt-0 md:mr-2">
        <input
          type="radio"
          name="difficulty"
          [value]="level"
          [checked]="level_selected === level || !level_selected"
          (change)="level_selected = level"
          hidden
          [id]="'difficulty-' + level"
        />
        <label
          class="radio_label flex mr-1 text-sm font-semibold bg-gray-400 rounded-full cursor-pointer"
          [for]="'difficulty-' + level"
        >
          {{ level }}
        </label>
      </li>
    </ul>
  </div>
  <div class="text-center my-8">
    <button class="button-48 mx-auto" (click)="showQuizz()">
      Lancer le quizz
    </button>
  </div>
</div>
