<div
  [@fadeSlideInOut]
  id="home-container"
  class="min-h-full w-fit flex flex-col justify-between md:justify-center items-center m-auto"
>
  <div class="header">
    <h1 class="text-3xl text-center uppercase font-bold mt-4">Bienvenue</h1>
    <p class="text-center mt-8 underline decoration-4 decoration-[deeppink]">
      Lorem ipsum dolor sit amet consectetur adipiscing elit suscipit euismod
      consectetur adipiscing elit suscipit euismod consectetur adipiscing elit
      suscipit euismod consectetur adipiscing elit suscipit euismod
    </p>
  </div>
  <div id="categories" class="radio-toolbar mt-8 md:mt-24">
    <ul class="flex flex-col md:flex-row flex-wrap items-center justify-center">
      <li
        class="max-w-full mt-2 md:mr-2"
        *ngFor="let category of categories; let i = index"
      >
        <a
          [routerLink]="'/categories/' + category.id + '/' + category.name"
          class="label flex font-semibold rounded-full cursor-pointer"
        >
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="text-center my-8 md:my-24">
    <a routerLink="/categories" class="button-48 mx-auto">
      <span>Toutes les catégories</span>
    </a>
  </div>
</div>
