#categories::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 75px
    height: 75px
    border-top: 4px solid rgb(var(--accent-color-1), 1)
    border-right: 4px solid rgb(var(--accent-color-1), 1)
    border-top-right-radius: 15px

.radio-toolbar
    padding: 5%