<div [@fadeSlideInOut] id="home-container">
  <div class="header">
    <h1 class="text-3xl text-center uppercase font-bold mt-4">Bienvenue</h1>
    <p class="text-center mt-8 underline decoration-4 decoration-[deeppink]">
      Testez vos connaissances et défiez vos amis avec nos quiz dans toutes les
      catégories : culture générale, science, cinéma, histoire et bien plus
      encore.
    </p>
    <p class="text-center mt-2 underline decoration-4 decoration-[deeppink]">
      Que vous soyez un passionné ou juste curieux, nos quiz sont faits pour
      vous divertir tout en stimulant votre esprit.
    </p>
  </div>
  <div id="categories" class="radio-toolbar mt-8 md:mt-16">
    <ul class="flex flex-col md:flex-row flex-wrap items-center justify-center">
      @for (category of categories; track category; let i = $index) {
        <li
          class="max-w-full mt-2 md:mr-2"
          >
          <a
            [routerLink]="'/categories/' + category.id + '/' + category.name"
            class="label flex font-semibold rounded-full cursor-pointer"
            >
            {{ category.name }}
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="text-center my-8 md:my-16">
    <a routerLink="/categories" class="button-48 mx-auto">
      <span>Toutes les catégories</span>
    </a>
  </div>
</div>
